doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Customer Dashboard
  link(rel='stylesheet' href="/stylesheets/styles.css")
  script(src="/js/click_event.js")
  script(src='https://code.jquery.com/jquery-3.6.0.min.js')
.dashboard-container
  .welcome-message
    h1 Welcome!
    p
      | We&apos;re delighted to have you as a valued customer at CMSM. Our team is here to assist you with top-notch computer maintenance services.
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus cupiditate adipisci mollitia commodi explicabo quam minima ullam cum tempora quaerat ea dignissimos veritatis, eius repellat, fugit ut vero, eligendi quidem.
    p How can we help you today?
  .dashboard-options
    .option
      h3 Your Service Requests
      |                 {% if service_requests %}
      table
        thead
          tr
            th Request ID
            th Description
            th Status
        tbody
          | {% for request in service_requests %}
          tr
            td {{ request.requestid }}
            td {{ request.description }}
            td {{ request.status }}
          |                         {% endfor %}
      |             {% else %}
      p No service requests found for this customer.
      |             {% endif %}
    .option
      h2 Create a New Service Request
      button(onclick="location.href='/create_service_request.pug'") Create Request
  div
    button(onclick='logout()' style='margin-top: 50px;') Logout
